@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.active {
  text-decoration: underline;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black; 
}

ul {
  list-style: none;
}

hr {
  max-width: 80%;
  margin: 0 auto;
}

/******************************************
/* NAVIGATION BAR 
/*******************************************/

.navbar {
  background-color: #292929;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem 1rem;
  margin-left: 125px;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-brand {
  color: white;
  margin-right: 2rem;
}

.btn-sign-up {
  background-color: white;
  border-radius: 10px;
  color: #171a1d;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.7rem 0.9rem;
}

.btn-sign-up:hover {
  background-color: #e2e2e2;
  color: #171a1d;
  text-decoration: none;
  border-color: #e2e2e2;
}

.btn-contact-us {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  color: #171a1d;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.7rem 0.9rem;
}

.btn-contact-us:hover {
  background-color: #e2e2e2;
  color: #171a1d;
  text-decoration: none;
  border-color: #e2e2e2;
}

/******************************************
/* FOOTER
/*******************************************/

.footer {
  bottom: 0; 
  left: 0;
  width: 100%; 
  background-color: #292929;
  color: white;
  z-index: 100;
  padding-bottom: 25px;

}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  padding-bottom: 45px;
}

.footer-container::after {
  content: '';
  display: block;
  height: 1px;
  background-color: white; 
  width: 90%; 
  position: absolute;
  bottom: 0;
  left: 5%; 
}

.footer-brand {
  flex-grow: 1;
padding-left: 54px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  /* text size smaller */
  font-size: 0.75rem;
}

.footer-nav .nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 200;
}

.footer-social {
  flex-grow: 1;
  text-align: right;
  padding-right: 54px;
}

.footer-social .svg-inline--fa {
  color: white;
  font-size: 1.5rem;
  margin: 0 5px;
}

.footer-bottom {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  font-weight: 300; 
}

.footer-bottom-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}


.footer-bottom .nav-link {
  color: white;
  margin: 0 5px;
}

.nav-link:hover {
  text-decoration: underline;
}

/******************************************
/* TUTORIAL SECTION
/*******************************************/

.tutorial-header {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.tutorial-logo {
  max-width: 100%;
  height: auto;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  margin-right: 100px;
  max-width: 50%;  /* flex child needs to be 50% of container width so items can be evenly spaced*/
}

.hr-title {
  position: relative;
  bottom: 3rem;
  font-size: 96px;
  font-weight: 900;
  color: rgba(41, 41, 41); /* Black text color */
  text-transform: uppercase;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; /* Shadow offsets and color to create the white outline effect */
}


.hr-intro {
  text-align: right;
  color: white;
  line-height: 25px;
  max-width: 80%;
}

.tutorial-media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  border-top: 2px solid white;
  max-width: 80%;
}

.ml-title {
  color: white;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 200px;
  font-size: 45px;
  font-weight: 900;

}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.media-one, .media-two, .media-three{
  max-width: 400px;
  height: auto;
}

/*TODO: update this style later. Use to prevent image-1 from stretching*/
/* .media-one {
  max-width: 100%;
  height: auto;
  max-height: 620px; 
} */

.media-one, .media-two, .media-three {
  border-bottom: 3px solid #26ff02;
}

.media-sub-container {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.media-sub-container-1 {
  display: flex;
}

.media-paragraph-right, .media-paragraph-left {
  color: white;
}

.media-paragraph-container {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.tutorial-list-container { /* this is the <ul> */
  margin-top: 5rem; /* this should total to 13 with .green-golf-ball margin-top*/
}

.tutorial-list-item { /* this is the <li>*/
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.tutorial-social-media-links { /* this is the anchor tags withing the <ul>*/
  color: white;
  text-decoration-skip-ink: none; /* Prevents the underline from being cut off */
  text-underline-offset: 0.5em;
  margin-bottom: 1rem;
}

.green-golf-ball {
  margin-top: 1rem; /* this should total to 13 with .tutorial-list-container */
  max-width: 300px;
  height: auto;
}

.bottom {
  position: relative;
  top: 50px;
}

/******************************************
/* MEMBER SECTION
/*******************************************/

.member-header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 5rem;
}

.member-logo {
  max-width: 474px;
  height: auto;
}

.member-header-left {
  max-width: 80%;
}

.member-header-right {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  max-width: 50%;  /* flex child needs to be 50% of container width so items can be evenly spaced*/
}

.member-hr-title {
  position: relative;
  bottom: 3rem;
  font-size: 96px;
  font-weight: 900;
  color: rgba(41, 41, 41); /* Black text color */
  text-transform: uppercase;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; /* Shadow offsets and color to create the white outline effect */
}

.member-hr-intro {
  text-align: right;
  color: white;
  line-height: 25px;
  max-width: 81%;
}

.squiggle {
  position: absolute;
}

.members-review-title {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  margin-top: 120px;
  margin-left: 200px;
  font-size: 45px;
  font-weight: 900;
}

.member-section {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: white;
  border-top: 2px solid white;
  max-width: 80%;
}

.member-sub-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.member {
  text-align: center;
}

.member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ccc;
}

.member-review {
  max-width: 200px;
  margin: 0 auto;
}

/******************************************
/* EVENT SECTION
/*******************************************/

.styled-calendar-container {
  height: 700px;
}

.calendar-container {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-top: 2px solid white;
  max-width: 80%;
}

.event-header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 800px;
}

.event-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-logo {
  width: auto;
  height: 500px;
  transform: rotate(-30deg)
}