@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #292929; 
}

ul {
  list-style: none;
}

hr {
  max-width: 80%;
  margin: 0 auto;
}

/******************************************
/* NAVIGATION BAR 
/*******************************************/

/******************************************
/* TUTORIAL SECTION
/*******************************************/

.tutorial-header {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.tutorial-left {
  max-width:  50%; /* flex child needs to be 50% of container width so items can be evenly spaced*/
  align-self: flex-start;
}

.tutorial-logo {
  max-width: 100%;
  height: auto;
}

/* .header-left {
  display: flex;
  height: 700px
} */

.header-right {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  margin-right: 100px;
  max-width: 50%;  /* flex child needs to be 50% of container width so items can be evenly spaced*/
}

.hr-title {
  position: relative;
  bottom: 3rem;
  font-size: 96px;
  font-weight: 900;
  color: rgba(41, 41, 41); /* Black text color */
  text-transform: uppercase;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; /* Shadow offsets and color to create the white outline effect */
  margin-right: -1rem; /* gets rid of letter spacing at end of the word*/
}


.hr-intro {
  text-align: right;
  color: white;
  line-height: 25px;
  max-width: 81%;
}

.tutorial-media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  border-top: 2px solid white;
  max-width: 80%;
}

.ml-title {
  color: white;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 200px;
  font-size: 45px;
  font-weight: 900;

}

.media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 35px;
}

.media-one, .media-two, .media-three{
  width: 400px;
  height: auto;
}

.media-one, .media-two, .media-three {
  border-bottom: 3px solid #26ff02;
}

.media-sub-container {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.media-sub-container-1 {
  display: flex;
}

.media-paragraph-right, .media-paragraph-left {
  color: white;
}

.media-paragraph-right {
  margin-left: 10rem;
}

.media-paragraph-left {
  margin-right: 10rem;
}